@model IEnumerable<HotelAdmin.Models.Entity.Room>

@{
    ViewData["Title"] = "Index";
    int count = 1+(ViewBag.CurrentPage-1)*10;
}

<h1 class="text-center">Список комнат</h1>

<p>
    <a asp-action="Add" class="btn btn-primary">Добавить</a>
</p>
<table class="table table-1">
    <thead>
        <tr class="tab-row">
            <th scope="col">#</th>
            <th scope ="col">Номер</th>            
            <th scope="col">Категория</th>
            <th scope="col">Цена от</th>
            <th scope="col">Количество мест</th>
            <th scope="col">Фото</th>
            <th scope="col"><div class="col-14"></div></th>
            <th scope="col"><div class="col-14">Actions</div></th>
            <th scope="col"><div class="col-14"></div></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="tab-row">
            <th scope="row">@(count++)</th>
            <td>@item.Number</td>
            <td>@item.Category.Name</td>
            @*<td>@item.Tariffs.Min(t => t.Price)</td>*@
            <td>@item.Category.TariffAdmins.Min(t => t.Price)</td>
            <td>@item.Category.PersonsCount</td>
            <td><img src="~/@item.Category.Photo" style="height: 125px;" alt="Photo"></td>
            
            <td><div class="col-14"><a asp-action="Edit" asp-controller="Room" asp-route-id="@item.Id" class="form-control btn btn-secondary">Изменить</a></div></td>
            <td><div class="col-14"><a asp-action="Details" asp-controller="Room" asp-route-id="@item.Id" class="form-control btn btn-info">Подробно</a></div></td>
            <td><div class="col-14"><a asp-action="Delete" asp-controller="Room" asp-route-id="@item.Id" class="form-control btn btn-danger">Удалить</a></div></td>
        </tr>
}
    </tbody>
</table>
<br />
<nav aria-label="Page navigation example" class="d-flex align-content-center justify-content-sm-center">
    <ul class="pagination">

        @if (ViewBag.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link"
               asp-action="Index"
               asp-controller="Room"
               asp-route-page="@(ViewBag.CurrentPage-1)">Previous</a>
            </li>
        }

        @for (var i = ViewBag.CurrentPage - 3; i <= ViewBag.CurrentPage + 3; i++)
        {

            @if (i > 0 && i <= ViewBag.TotalPages)
            {
                @if (ViewBag.CurrentPage == i)
                {
                    <li class="page-item active">
                        <a class="page-link"
                        asp-action="Index"
                        asp-controller="Room"
                        asp-route-page="@i">@i</a>
                    </li>
                }
                else
                {

                    <li class="page-item">
                        <a class="page-link"
                        asp-action="Index"
                        asp-controller="Room"
                        asp-route-page="@i">@i</a>
                    </li>
                }
            }

        }

        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <li class="page-item">
                <a class="page-link"
               asp-action="Index"
               asp-controller="Room"
               asp-route-page="@(ViewBag.CurrentPage+1)">Next</a>
            </li>
        }

    </ul>
</nav>
@section Scripts {
    @{
        <script src="~/lib/toastr.js/toastr.min.js"></script>
        await Html.RenderPartialAsync("_ToastPartial");
    }

}

