@model HotelWebsiteBooking.Models.Entity.Client

@{
    ViewData["Title"] = "Booking";
}

@if (TempData.ContainsKey("Status"))
{
    <div class="alert alert-danger" role="alert">
        <strong>Notification!</strong> @TempData["Status"]
    </div>
}

<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-text">
                    <h2>MyHotel A Premium</h2>
                    <div class="col-lg-12 col-md-6">
                        <div class="room-item">
                            <img class="media" src="~/@Model.Room.Category.Photo" alt="Photo" />
                            <div class="ri-text">
                                <h4><strong>@Model.Room.Category.Name</strong></h4>
                                <h5>Тариф: @ViewBag.Tariff</h5>
                                <br />
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">@ViewBag.Start &emsp;—</td>
                                        <td>@ViewBag.End</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">с 12:00</td>
                                        <td>до 12:00</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">число ночей: </td>
                                        <td>@ViewBag.Days</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">число гостей: </td>
                                        <td>@ViewBag.Guest</td>
                                    </tr>
                                </tbody>
                            </table>
                                <h3><span style="font-size: 26px">Стоимость:&ensp;</span>@ViewBag.Price Р</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-lg-7 offset-lg-1">
                    <div class="col-lg-12">
                        <h2>Контактная информация клиента</h2>
                        <h4>Куда отправить информацию о бронировании</h4>
                    </div>
                    <br class="clear">
                    <form asp-action="AddBooking" asp-controller="Room" method="post" class="contact-form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <input name="price" value="@ViewBag.Price" type="hidden" />
                        <input asp-for="RoomId" type="hidden" />
                        <input asp-for="TariffId" type="hidden" />
                        <div class="col-lg-6">
                            <input asp-for="Name" type="text" placeholder="Your Name"/>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6">
                            <input asp-for="Surname" type="text" placeholder="Your Surname" />
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6">
                            <input asp-for="Phone" type="tel" placeholder="Your Phone"/>
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6">
                            <input asp-for="Email" type="email" placeholder="Your Email"/>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-lg-12">
                            <textarea name="content" placeholder="Комментарий отелю"></textarea>
                        </div>
                        
                    </div>
                    <label>Выберите способ оплаты: </label>
                    <br />
                    <div class="col-lg-4 form-check form-check-inline">
                        <input required class="form-check-input" type="radio" name="payment" id="inlineRadio1" value="online">@*Онлайн на сайте*@
                        <label class="form-check-label" for="inlineRadio1">Онлайн на сайте</label>
                    </div>
                    <div class="col-lg-4 form-check form-check-inline">
                        <input required class="form-check-input" type="radio" name="payment" id="inlineRadio2" value="inPlace">
                        <label class="form-check-label" for="inlineRadio2">Оплатить при заселении</label>
                    </div>
                    <br /><br />
                    <div class="col-lg-12">
                        <button type="submit">Продолжить</button>
                    </div>
                    </form>
                </div>
        </div>
    </div>
</section>

          

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
