@model HotelAdmin.Models.Entity.OrderPay

@{
    ViewData["Title"] = "Details";
}

@if (TempData.ContainsKey("Error"))
{
    <div class="alert alert-danger" role="alert">
        <strong>Notification!</strong> @TempData["Error"]
    </div>
}
<div class="details">
<h2>Детали бронирования</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <dl class="row">
            <dt class="col-sm-4 info-sise">
                Номер заказа:
            </dt>
            <dd class="col-sm-8 info-sise">
                @Html.DisplayFor(model => model.Id)
            </dd>
            @if (Model.BookingNumber!="")
            {
                <dt class="col-sm-4 info-sise">
                    Номер брони:
                </dt>
                <dd class="col-sm-8 info-sise">
                    @Model.BookingNumber
                </dd>    
            }
            <dt class="col-sm-4 info-sise">
                Дата:
            </dt>
            <dd class="col-sm-8 info-sise">
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt class="col-sm-4 info-sise">
                Количество гостей:
            </dt>
            <dd class="col-sm-8 info-sise">
                @Html.DisplayFor(model => model.GuestCount)
            </dd>
            <dt class="col-sm-4 info-sise">
                Статус:
            </dt>
            <dd class="col-sm-8 info-sise">
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt class="col-sm-4 info-sise">
                Имя клиента:
            </dt>
            <dd class="col-sm-8 info-sise">
                @Html.DisplayFor(model => model.Client.Name)
            </dd>
            <dt class="col-sm-4 info-sise">
                Фамилия клиента:
            </dt>
            <dd class="col-sm-8 info-sise">
                @Html.DisplayFor(model => model.Client.Surname)
            </dd>
            <dt class="col-sm-4 info-sise">
                Email:
            </dt>
            <dd class="col-sm-8 info-sise">
                @Html.DisplayFor(model => model.Client.Email)
            </dd>
            <dt class="col-sm-4 info-sise">
                Телефон:
            </dt>
            <dd class="col-sm-8 info-sise">
                @Html.DisplayFor(model => model.Client.Phone)
            </dd>
            <dt class="col-sm-4 info-sise">
                Дата заезда:
            </dt>
            <dd class="col-sm-8 info-sise">
                @Model.Client.Start.ToLongDateString()
            </dd>
            <dt class="col-sm-4 info-sise">
                Дата выезда:
            </dt>
            <dd class="col-sm-8 info-sise">
                @Model.Client.End.ToLongDateString()
            </dd>
            <dt class="col-sm-4 info-sise">
                Номер комнаты:
            </dt>
            <dd class="col-sm-8 info-sise">
                @Html.DisplayFor(model => model.Client.Room.Number)
            </dd>
            <dt class="col-sm-4 info-sise">
                Категория:
            </dt>
            <dd class="col-sm-8 info-sise">
                @Html.DisplayFor(model => model.Client.Room.Category.Name)
            </dd>
            <dt class="col-sm-4 info-sise">
                Тариф:
            </dt>
            <dd class="col-sm-8 info-sise">
                @Html.DisplayFor(model => model.Client.Tariff.TariffPlan.Description)
            </dd>
            <dt class="col-sm-4 info-sise">
                Цена:
            </dt>
            <dd class="col-sm-8 info-sise">
                @(Model.Client.End.Subtract(Model.Client.Start).Days*Model.Client.Tariff.Price) Р
            </dd>
        </dl>
    </div>
</div>
<br/>
<div>
    @if (Model.Status!="отправлено")
    {
        <a asp-action="BookingSend" asp-route-id="@Model.Id" class="btn btn-secondary">Отправить</a>
    }
    <a asp-action="Index" class="btn btn-info">К списку</a>
</div>
</div>
@section Scripts {
    @{
        <script src="~/lib/toastr.js/toastr.min.js"></script>
        await Html.RenderPartialAsync("_ToastPartial");
    }

}
