@model HotelWebsiteBooking.Models.Entity.Room
@inject AppDbContext _context
@{
    ViewData["Title"] = "Standard";
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>@Model.Category.Name</h2>
                    <div class="bt-option">
                        <a asp-controller="Home" asp-action="Index">Главная</a>
                        <span>Комнаты</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="room-details-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="room-details-item">
                    <img src="~/@Model.Category.Photo" alt="Photo"/>
                    <div class="rd-text">
                        <div class="rd-title">
                            <div class="rdt-right">
                                @if (ViewData["Messege"] != null)
                                {
                                    <a asp-controller="Room" asp-action="Tariff" asp-route-id="@Model?.Id">Выбрать</a>
                                }
                                
                            </div>
                        </div>
                        @if (ViewData["Messege"] != null)
                        {
                            <h2>от @(Model.Category.TariffAdmins.Min(t => t.Price) * ViewBag.Days) Р<span class="room-price">/Цена за @ViewBag.Days ночи</span></h2>
                        }
                        else
                        {
                            <h2>от @Model.Category.TariffAdmins.Min(t => t.Price) Р<span class="room-price">/Цена за 1 ночь</span></h2>
                        }
                        <partial name="_RoomCardPartial" model="@Model" />                        
                    </div>
                </div>                                
            </div>
            <div class="col-lg-6">
                <div class="room-booking">
                    <p>
                        Однокомнатный двухместный номер категории «Стандарт» площадью от 20 кв.м.
                        Самая доступная категория номера в нашем отеле, которая идеально подходит
                        для отдыха вдвоем.
                    </p>
                    <p><strong>Варианты размещения:</strong></p>
                    <ul>
                        <li>до 2 взрослых — без детей</li>
                        <li>максимум 2 взрослых + возможно размещение детской кроватки для детей до 3-х лет</li>
                    </ul>
                    <br />
                    <p><strong>Варианты питания:</strong></p>
                    <ul>
                        <li>Без питания</li>
                        <li>Завтрак включён</li>
                        <li>Полупансион</li>
                        <li>Включён завтрак, обед и ужин</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12" style="text-align:justify;">
                <p class="f-para">
                    Однокомнатный двухместный номер категории «Стандарт» - самая доступная категория номера в нашем отеле.
                    Расслабиться от городской суеты поможет балкон с прекрасным видом на сосновый бор.
                </p>
                <p class="f-para">
                    Гостей ожидают удобные светлые комнаты с новой классической мебелью. Номер оснащен: системой кондиционирования,
                    двумя односпальными кроватями, телевизором с плоским экраном, быстрым WI-FI, разнообразным мини-баром и чайной станцией.
                    Также имеется удобная гардеробная для ваших вещей. В номерах собственная ванная комната с душевой кабиной, зеркалом с подсветкой,
                    феном, комплектом косметических принадлежностей, полотенцами и тапочками.
                    Конфигурация номера может несколько отличаться от представленного на фото.
                </p>
                <p><strong>Для проживающих в номере категории «Стандарт» бесплатно доступно:</strong></p>
                <ul>
                    <li>Посещение Спа-зоны с двумя бассейнами, финской сауной, турецким хаммамом и чайной комнатой (ежедневно с 10:00 до 18:00)</li>
                    <li>Отдых на большом летнем бассейне под открытым небом (в летний период)</li>
                </ul>
                <br />
                <br />
            </div>
            <div class="col-lg-8">
                <partial name="_CommentListCardPartial" model="@_context.Comments.Where(x => x.Title == ViewData["Title"]).ToList()"></partial>
                <div class="review-add">
                    <partial name="_CommentCardPartial" model="@Model"></partial>
                </div>
            </div>
        </div>
    </div>
</section>