@model IEnumerable<HotelAdmin.Models.Entity.Client>

@{
    ViewData["Title"] = "Index";
    int count = 1+(ViewBag.CurrentPage-1)*10;
}

<h1 class="text-center">Список клиентов</h1>

<table class="table table-1">
    <thead>
        <tr class="tab-row">
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Email</th>
            <th scope="col">Дата заезда</th>
            <th scope="col">Дата выезда</th>
            <th scope="col"><div class="col-14"></div></th>
            <th scope="col"><div class="col-14">Actions</div></th>
            <th scope="col"><div class="col-14"></div></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="tab-row">
            <th scope="row">@(count++)</th>
            <td>@item.Name</td>
            <td>@item.Surname</td>
            <td>@item.Email</td>
            <td>@item.Start.ToShortDateString()</td>
            <td>@item.End.ToShortDateString()</td>
            
            <td><div class="col-14"><a asp-action="Edit" asp-controller="Client" asp-route-id="@item.Id" class="form-control btn btn-secondary">Изменить</a></div></td>
            <td><div class="col-14"><a asp-action="Details" asp-controller="Client" asp-route-id="@item.Id" class="form-control btn btn-info">Подробно</a></div></td>
            <td><div class="col-14"><a asp-action="Delete" asp-controller="Client" asp-route-id="@item.Id" class="form-control btn btn-danger">Удалить</a></div></td>
        </tr>
}
    </tbody>
</table>
<br />
<nav aria-label="Page navigation example" class="d-flex align-content-center justify-content-sm-center">
    <ul class="pagination">

        @if (ViewBag.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link"
               asp-action="Index"
               asp-controller="Client"
               asp-route-page="@(ViewBag.CurrentPage-1)">Previous</a>
            </li>
        }

        @for (var i = ViewBag.CurrentPage - 3; i <= ViewBag.CurrentPage + 3; i++)
        {

            @if (i > 0 && i <= ViewBag.TotalPages)
            {
                @if (ViewBag.CurrentPage == i)
                {
                    <li class="page-item active">
                        <a class="page-link"
                        asp-action="Index"
                        asp-controller="Client"
                        asp-route-page="@i">@i</a>
                    </li>
                }
                else
                {

                    <li class="page-item">
                        <a class="page-link"
                        asp-action="Index"
                        asp-controller="Client"
                        asp-route-page="@i">@i</a>
                    </li>
                }
            }

        }

        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <li class="page-item">
                <a class="page-link"
               asp-action="Index"
               asp-controller="Client"
               asp-route-page="@(ViewBag.CurrentPage+1)">Next</a>
            </li>
        }

    </ul>
</nav>

